*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#wrapper{
    height: 100vh;
    /* height equal to viewporet height */
    overflow-y: auto;
    overflow-x: hidden;
    /* no scroll in x direction */
    perspective: 10px;
    /* to enable z axis plane 10px is the distance 
    between window and eyes */

}

.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* to center the content */
    transform-style: preserve-3d;
    z-index: -1;
    /* to preserve the 3d effect from the wrapper class*/
    
}

.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* now the heading is invisible so we
    have to set z index to see the layering */
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
    /* to bring the background to the back */
    /* scale is used to enlarge the image */
}
.foreground{
    transform: translateZ(-20px) scale(3);
     /* to bring the foreground to the front */
}

h1{
    position: absolute;
    font-size: 10rem;
    color:white;
    text-shadow: 0, 0, 10px black;
    /* to give the shadow effect */
    top: 5rem;
    /* to bring the heading to the top */
    left: 50%;
    transform: translateX(-50%);
    /* to bring the heading to the center */
    letter-spacing: 4px;

}

section{
    background-color: rgb(91, 85, 85);
    color: white;
    padding: 5rem 0;
}

.bg{
    position:relative;
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* to center the image */
    
}
.bg1{
    background-image: url(/Images/cycle.jpg);
}
.bg2{
    background-image: url(/Images/para.jpg);
}
.bg3{
    background-image: url(/Images/surf.jpg);
}

.secheading{
    font-size: 5rem;
    padding: 0 10rem;

}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}


.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    font-size: 3.5rem;
    font-weight: 600;

    
}